body {
    margin: 10px;
}

nav {
    background-color: black;
    color: white;
    font-size: large;
    border: 6px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    outline: none;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    animation-name: shake-twist;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes shake-twist {
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    70% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(360deg);
    }
}